body {
    /* height: 100%;
    width: 100%;
    margin: 0; */
    background-color: #00E676;
    font-family: sans-serif;
}
#container{
    position: relative;
    height: 80vh;
    width: 25%;
    margin-left: 30em;
    margin-top:5px;;
    /* margin-bottom: 30px;; */
    background-color: #292929;
    overflow: hidden;
}
#left,#right,#down,#up{
    position: relative;
    margin-left:38em;
    background-color: white;
    width:4em;
    height: 2em;
    border-radius: 1em;
    color:darkorange;
}
#left{
    margin-left:28em;
    top:1em;   
}
#right{
    top:1em;
    margin-left:35.5em;
}
#down{
    margin-left:25.3em;
    top:3em;
}
#score_div{
    position: relative;
    margin-left: 30em;
    color:white;

}
#restart{
    position: relative;
    margin-left:13.4em;
    margin-top: 2px;
    border-radius:1em;
    background-color: white;
    color:slateblue;

}
@media only screen and(max-width:660px) {
    #left,#right,#down,#up,#container{
        margin-left:1em;
    }
}